
/* General CSS */

@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@700&family=Inter&family=Karla:wght@500;800&family=Open+Sans:wght@800&display=swap');

*{
    /* background-color: #121516; */
    color: white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
  background: rgb(0,0,0);
  background: linear-gradient(90deg, rgba(0,0,0,1) 50%, rgba(19,57,106,1) 100%);
}

/* .loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, rgba(0, 0, 0, 1) 50%, rgba(19, 57, 106, 1) 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner {
  width: 50px;
  height: 50px;
  border: 5px solid rgba(255, 255, 255, 0.2);
  border-top-color: #fff;
  border-radius: 50%;
  animation: spin 1s infinite linear;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
} */

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, rgba(0, 0, 0, 1) 50%, rgba(19, 57, 106, 1) 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.pl,
.pl__worm {
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

.pl {
  animation-name: bump;
  animation-timing-function: linear;
  width: 8em;
  height: 8em;
}

.pl__ring {
  stroke: hsla(0, 10%, 10%, 0.1);
  transition: stroke 0.3s;
}

.pl__worm {
  animation-name: worm;
  animation-timing-function: cubic-bezier(0.42, 0.17, 0.75, 0.83);
}

/* Dark theme */
@media (prefers-color-scheme: dark) {
  .pl__ring {
    stroke: hsla(0, 10%, 90%, 0.1);
  }
}

/* Animations */
@keyframes bump {
  from,
  42%,
  46%,
  51%,
  55%,
  59%,
  63%,
  67%,
  71%,
  74%,
  78%,
  81%,
  85%,
  88%,
  92%,
  to {
    transform: translate(0, 0);
  }
  44% {
    transform: translate(1.33%, 6.75%);
  }
  53% {
    transform: translate(-16.67%, -0.54%);
  }
  61% {
    transform: translate(3.66%, -2.46%);
  }
  69% {
    transform: translate(-0.59%, 15.27%);
  }
  76% {
    transform: translate(-1.92%, -4.68%);
  }
  83% {
    transform: translate(9.38%, 0.96%);
  }
  90% {
    transform: translate(-4.55%, 1.98%);
  }
}

@keyframes worm {
  from {
    stroke-dashoffset: 10;
  }
  25% {
    stroke-dashoffset: 295;
  }
  to {
    stroke-dashoffset: 1165;
  }
}

 .landing{
  background: rgb(0,0,0);
  background: linear-gradient(90deg, rgba(0,0,0,1) 50%, rgba(19,57,106,1) 100%);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* height: 100%; */
  /* padding: 2rem 0; */
  height: 100vh;
  /* height: auto; */
  /* border: 2px solid red; */
} 

.logos{
    height: 11rem;
  }

  /* Landing Page */

  .main{
    display: flex;
    flex-direction: column;
    /* position: absolute; */
    margin: 28vh 22vw;
    /* border: 2px solid red; */
    /* width: 52vw;
    height: 35vh; */
    padding: 2rem;
  }
  
  .new_main{
    display: flex;
    align-items: center;  
  }

  /* .landing-btn-set{
    margin: 2rem;
    margin-left: 12rem;
    display: flex;
    justify-content: space-around;
  } */


  #landing-btn{
    padding: 1rem 2.5rem;
    color: #121516;
    background-color: #ffffff;
    border-radius: 1rem;
    font-size: 1.2rem;
    font-weight: 700;
    position: absolute;
    top: 2rem;
    right:2rem;
    /* margin-left: 13rem; */
    
  }

  #landing-btn {
    align-items: center;
    appearance: none;
    background-color: #FCFCFD;
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
    box-sizing: border-box;
    color: #36395A;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono",monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 18px;

        padding: 1rem 2.5rem;
    color: #121516;
    background-color: #ffffff;
    border-radius: 1rem;
    font-size: 1.2rem;
    font-weight: 700;
    position: absolute;
    top: 2rem;
    right:2rem;
  }
  
  #landing-btn:focus {
    box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  }
  
  #landing-btn:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    transform: translateY(-2px);
  }
  
  #landing-btn:active {
    box-shadow: #D6D6E7 0 3px 7px inset;
    transform: translateY(2px);
  }



  #landing-p-mob{
    display: none;
  }
  
  .main-text{
    display: flex;
    flex-direction: column;
    color: white;
  }
  
  .main-text>h1{
    /* font-family: 'Inter', sans-serif; */
    /* font-family: 'Open Sans', sans-serif; */
    font-family: 'Karla', sans-serif;
    /* font-family: 'Barlow', sans-serif; */
    font-weight: 700;
    font-size: 96px;
  }
  
  .main-text>p{
    margin-left: 3%;
    color: #949494;
    font-family: 'Inter';
    font-style: normal;
    /* font-weight: 700; */
    font-size: 25px;
    /* font-family: 'Open Sans', sans-serif; */

  }

  /* Header Component */
  

  nav{
    margin: 2% 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* border: 5px solid red; */
  }
  
  nav>*{
    color: white;
    font-size: 1.2rem;
  }

  /* .navbar{
    display: flex;
    justify-content: flex-start;
  } */
  
  #logos_nav{
    margin: 0 5rem;
    margin-right: 15rem;
  }
  
  #shift_nav{
    margin-right: 4rem;
    /* border: 2px solid red; */
  }
  
  .active{
    padding-top: 10px;
    border-top: 5px solid #39B3E9;
    border-radius: 5px;
  }
  
  .logos_2{
    height: 3rem;
  }
  
  .logos_3{
    height: 2rem;
  }
  
  #btn_nav{
    margin-left: 10rem;
    font-weight: 700;
  }


  #shift_nav3{
    margin-left: 10rem;
    font-weight: 700;
  }

  /* Web Pages Common */

  .vision, .explore, .opportunities, .reachout{
    margin: 8rem 4rem;
    padding: 0 5rem;
    text-align: center;
  }
  
  .vision>h1, .explore>h1, .opportunities>h1, .reachout>h1{
    font-size: 3rem;
    margin-bottom: 2rem;
  }

  /* Vision Page Specific */

  /* header{
    margin-left: 20vw;
  } */

  .vision{
    max-width: 1400px;
    margin: 8rem auto;
  }
  
  .vision_content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 5rem 0;
  }
  
  .vision_content>img{
    height: 18rem;
    margin-left: 2rem;
    max-width: 500px;
    /* border: 2px solid blue; */
  }
  
  .vision_content>p{
    padding: 2rem;
    font-size: 1.2rem;
    /* border: 2px solid red; */
    background-color:rgb(55, 55, 55);
    border-radius: 2rem;
  }


/* Explore Page Specifics */

  .explore_contents{
    margin-top: -3rem;
    background-color: #949494;
    /* border: 5px solid red; */
    height: 35rem;
    border-radius: 5rem;
    background-image: url(./images/lnm.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /* opacity: 0.7; */
    /* position: relative; */
  }
  
  .search_bar{
    background-color: #ffffff;
    box-shadow: inset rgba(0, 0, 0, 0.35) 0px 5px 15px;
    /* border: 5px solid rgb(0, 38, 255); */
    
    height: 3.5rem;
    width: 50%;
    border-radius: 1rem;
    position: absolute;
    top:92%;
    left: 25%;
  }

  .webtech_component>h1, .nontech_component>h1, .core_component>h1, .media_component>h1, .misc_component>h1{
    margin-bottom: 8rem;
    font-size: 3rem;
  }

    /* Domain Page Specifics */
  
    .domains{
          /* margin: 10rem; */
          margin: 10rem 0;
          margin-left: 3rem;
          margin-bottom: 0;
          /* border: 5px solid red; */
          display: inline-block; 
      }
      
      nav{
        font-size: 1.2rem;
        
      }
        
      .domains>h1{
        margin: 10rem 0;
      }
      
      /* #shift_nav2{
        margin: 1.5rem;
        border: 2px solid green;
      }
    */

  /* ReachOut Page Specifics */
  
  .dev_cont{
    background-color: #121516;
    padding-bottom: 3rem;
    /* border: 2px solid red; */
    border-radius: 2rem;
    width: 35%;
    height: auto;
    max-width: 450px;
    box-shadow: rgb(255, 255, 255) 0px 2px 4px, rgba(255, 255, 255, 0.87) 0px 7px 13px -3px, rgba(255, 255, 255, 0.951) 0px -3px 0px inset;
  }
  
  .reachout{
    display: flex;
    flex-direction: column;
  }
  
  .reachout>h1{
    margin-bottom: 5rem;
  }
  
  .dev_main{
    display: flex;
    justify-content: space-around;
  }
  
  .dev_cont>h2{
    margin: 1rem 0 0 0;
    font-size: 1.3rem;
    font-weight: 400;
    color:#949494;
  }
  
  .dev_cont>p{
    padding: 2rem;
    font-size: 1rem;
    color:#def4fe;

  }
  
  .dev_img{
    margin: 2.5rem 0;
    /* height: 30%; */
    width: 50%;
  }
  
  .dev_socials{
    display: flex;
    justify-content: space-around;
    margin: 0 2rem;
  }
  
  .social_logo{
    height: 1.2rem;
    margin-right: 0.5rem;
    background-color: #fff;
  }

  .domain_img{
    width: 100%;
    border-radius: 2.5rem;
  }

  .social_btn{
    border-radius: 1rem;
  }

.social_btn>a{
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  justify-content: space-around;
  font-size: 0.5rem;
  font-weight: bold;
  background-color: #fff;
  border-radius: 1rem;
  box-shadow: inset 0 0 10px #000000;
}

.social_btn>a>*{
  background-color: #fff;
  color: #121516;
}

  .carousel_cont{
    /* width: 90%; */
    margin: 0 auto;
    margin-bottom: 15rem;
  }

  .carousel_cont>h1{
    margin: 5rem 0;
  }

  .slick-slider .slick-dots li button:before {
    color: #ffffff; /* Set the desired color for the dots */
  }
  
  /* Change the color of the active dot */
  .slick-slider .slick-dots li.slick-active button:before {
    color:#39B3E9; /* Set the desired color for the active dot */
  }

  .slick-slider>.slick-prev {
    left: -40px;
}

.slick-slider>.slick-prev:before{
  font-size: 40px;
}

.slick-slider>.slick-next {
  right: -40px;
}

.slick-slider>.slick-next:before{
font-size: 40px;
}

.slick-slider .slick-dots li button:before{
  font-size: 15px;
}

.slick-slider .slick-dots{
  position: absolute;
  bottom: -60px;
}

.link_hai {
  position: relative;
}

.link_hai > img {
  border: 2px solid transparent;
  transition: opacity 0.3s ease;
}

.link_hai:hover > img {
  opacity: 0.2;
}

/* .link_hai > img::after {
  content: attr(data-skill-name);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 5px 10px;
  font-size: 14px;
  font-weight: bold;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.link_hai:hover > img::after {
  opacity: 1;
} */

.link_hai:hover .overlay {
  opacity: 1;
}

.link_hai .overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-60%, -50%);
  /* background-color: rgba(0, 0, 0, 0.7); */
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 20px;
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 2;
}




/* Skill Details */

.skill_details{
  display: flex;
  justify-content: space-around;
  margin-bottom: 10rem;
}

.sidebar_navigation>h1{
  margin: 2rem;
}

.sidebar_navigation{
  border: 5px solid red;
  width: 20vw;
}

.contact>button{
  margin: 1rem;
  padding: 0.5rem 1rem;
  background-color: #084461;
  border-radius: 2rem;
}


.cards_set_head>h1{
  text-align: center;
  margin: 3rem 0;
}

.cards_set{
  /* border: 5px solid green; */
  padding: 2rem;
  width: 70vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
}


.tabs>*{
  color: #000000;
}

.cards_component{
  /* border: 2px solid white; */
  border-radius: 2rem;
  /* height: 25rem; */
  display: flex;
  flex-direction: column;
  background-color: #485174;
  /* box-shadow: rgba(255, 255, 255, 0.344) 1.95px 1.95px 2.6px; */

  /* box-shadow: rgba(255, 255, 255, 0.899) 0px 3px 8px; */

  justify-content: space-around;
  background-color: #2d586e;
  color: #ECFEE8;
  background: rgb(0,0,0);
  background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,116,139,1) 100%, rgba(255,255,255,1) 100%);

}

.cards_component_right{
  /* border: 2px solid red; */
  width: 70%;
  padding-top: 1rem;
}

.cards_component:hover{
  scale: 1.05;
}



.tabs{
  /* border: 2px solid red; */
  display: flex;
  justify-content: space-around;
}

.tabs>*{
  /* margin-right: 2rem; */
  font-size: 1rem;
}

.tabs>button{
  background-color: #94949400;
  color: white;
  border-bottom: none;
  border-left: 0;
  border-right: 0;
}

.cards_component_head{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* border: 2px solid red; */
  margin: 1rem 0;
}

.cards_component>img{
  height: 8rem;
  width: 8rem;
  margin: 1rem auto 0 auto;
  /* display: none; */
}

.exp_ul{
  list-style: none;
  /* border: 2px solid red; */
  margin: 1.5rem 1rem;
}

.exp_ul>li{
  color:#cbdff8;
  font-size: 1.2rem;
  font-weight: bold;
  margin: 1rem 0 0.5rem 0;
}



.exp_ul>span>button{
  color: #000000;
  padding: 0.5rem 1rem;
  border-radius: 10rem;
  border: 1px solid black;
  /* background-color:  #cbdff8; */

}

.exp_ul>span>a{
  color: #000000;
  padding: 0.5rem 0.75rem;
  border-radius: 10rem;
  border: 1px solid black;
  background-color: white;
  /* background-color:  #cbdff8; */

}

.contact{
  /* border: 2px solid green; */
  margin: 1rem 0;
}

.cards_component>h1{
  font-size: 1.5rem;
  margin-top: 2rem;
  text-align: center;
  /* width: 50%; */
}

.cards_component>p{
  font-size: 1rem;
  margin-bottom: 2rem;
  margin-top: 0.75rem;
  text-align: center;
  color: #cbdff8;
  /* width: 50%; */
}

/* Details Sidebar Navigation */

.sidebar_navigation{
  text-align: center;
}


/* Accordion Style */

a, a:hover, a:focus {
  text-decoration: none;
  transition: 0.5s;
  outline: none;
}

/* ------------ */
.text-primary{
  color : #5a8dee !important;
}
.card {
   box-shadow: 0px 5px 10px rgba(90, 116, 148, 0.3);
  /* background-color: #fff; */
  border-radius: 8px;
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: 0.3px;
  color: #475f7b;
  overflow: hidden;
  margin: 6rem 1rem;
  text-align: center;
}



.form-heading{
  margin: 4rem 0;
  margin-top: 1rem;
}


.rc-accordion-toggle {
  display: flex;
  align-items: flex-start;
  cursor: pointer;
  justify-content: space-between;
  /* background-color: #ebedf0; */
  transition: 0.3s;
  padding: 1rem;
}
.rc-accordion-toggle.active{
  background-color: #5a8dee;
}
.rc-accordion-toggle.active .rc-accordion-icon{
  transform: rotate(180deg);
  color: #fff;
}
.rc-accordion-card{
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 10px;
  overflow: hidden;
}
.rc-accordion-card:last-child{
  margin-bottom: 0;
}
.rc-accordion-title{
  font-weight: 500;
  font-size: 1rem;
  position: relative;
  margin-bottom: 0;
  color: #b3ceee;
  transition: 0.3s;
}
.rc-accordion-toggle.active .rc-accordion-title{
  color: #fff;
}
.rc-accordion-icon{
  position: relative;
  top: 2px;
  color: #475F7B;
  transition: 0.35s;
  font-size: 12px;
}
.rc-accordion-body{
  flex: 1 1 auto;
  min-height: 1px;
  padding: 15px;
}
.rc-accordion-body p{
  margin-bottom: 0;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 24px;
  color: #b3ceee;
}

.rc-accordion-body-2 p span{
  color: #ffffff;
}

.rc-accordion-body-2 p span>*{
  color: #b3ceee;
}

.rc-accordion-body-2 p{
  margin: 2rem;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #ffffff;
}

.links_div{
  display: flex;
  flex-direction: column;
}

.links_div>*{
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
}

.rc-accordion-body p a{
  color: #ffffff;
}

.rc-collapse{
  position: relative;
  height: 0;
  overflow: hidden;
  transition: height 0.35s ease;
}
.rc-collapse.show{
  height: auto;
}


.span_img{
  height: 3rem;
  width: 3rem;
  border-radius: 2rem;
  margin-right: 1rem;
}


.not-found{
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 70vw;
  margin: 3rem 0;
}

.not-found-text{
  background-color: #004147;
  border-radius: 5rem;
  margin: 5rem;
}

.not-found-text>h1{
  /* border: 2px solid green; */
  text-align: center;
  margin-top: 2rem;
  /* display: none; */
}

.not-found-text>p{
  margin: 2rem;
  padding: 0 2rem;
  color:#949494;
  font-size: 1.2rem;
  
}

#no-data-img{
  /* height: 100%; */
  width: 90%;
  margin: 2rem auto;
  margin-bottom: 0;
  /* border: 2px solid blue; */
}

#shift_nav2{
  margin-right: 4rem;
}


/* Responsiveness */


@media only screen and (max-width: 1000px) {

  /* Landing Page Media Queries */

  .navbar{
    /* border: 2px solid red; */
    display: flex;
    justify-content: flex-start;
  }

  #logos_nav{
    margin: 0.75rem;
    margin-right: auto;
  }

  .logos_2{
    height: 2rem;
  }
  
  #shift_nav{
    margin-right: 1.5rem;
  }

  #shift_nav2{
    display: none;
  }

  #shift_nav3{
    display: none;
  }
  
  .landing{
    padding: 25vh 0;
    padding-top: 15vh;
    height: auto;
    /* margin: 0; */
  }

  .main{
    /* border: 2px solid green; */
    /* text-align: center; */
    margin: 20vh auto;
  }

  /* .new_main{
    border: 2px solid red;
  } */

  /* .particles-hai{
    display: none;
  } */

  .logos{
    /* height: 15rem; */
    height: 4rem;
  }

  .main-text>h1{
    /* font-size: 10rem; */
    font-size: 2.5rem;
    /* display: none; */

  }

  #landing-btn{
    top: 10rem;
    padding: 0.75rem 1.5rem;
    /* font-size: 4rem; */
    font-size: 1rem;
    position: absolute;
    top: 2rem;
    right:2rem;
    /* display: none; */
  }

  #landing-p-desk{
    display: none;
  }

  #landing-p-mob{
    display: block;
    font-size: 0.9rem;
    margin-left: 0;
  }


/* Vision */

/* .headers>header>nav{
  display: none;
} */

.vision{
  margin: 8rem auto;
  padding: 1rem;
  text-align: center;
}

.vision>h1{
  font-size: 3.5rem;
  /* border: 2px solid red; */
}

.vision_content{
  display: flex;
  margin: 5rem 0;
  flex-direction: column;
}

#vision_content2{
  display: flex;
  flex-direction: column-reverse;
}

.vision_content>p{
  padding: 2rem;
  font-size: 1rem;
  /* border: 2px solid red; */
  background-color:rgb(55, 55, 55);
  border-radius: 2rem;
  width: 85vw;
}

.vision_content>img{
  width: 85vw;
  margin: 5rem;
  /* border: 2px solid blue; */
}

.form-heading{
  font-size: 2.5rem;
}

.opportunities{
  padding: 0;
  margin: 40vh 0;
}

.opportunities>img{
  width: 90vw;
}

/* Reach Out Media Queries */

.reachout{
  margin: 8rem 0;
  padding: 0;
}

.reachout>h1{
  font-size: 4rem;
  /* border: 2px solid red; */
}

.dev_main{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dev_cont{
  width: 85vw;
  margin-bottom: 5rem;
}

/* Explore Page Media Queries */

.explore{
  margin: 10rem 0;
  padding: 0;
}

.explore_contents{
  height: 20rem;
}

.search_bar{
  position: absolute;
  top: 25rem;
}

.domains{
  margin: 5rem 0;
}

#shift_nav2{
  margin: 1.2rem;
}

nav{
  margin: 2% 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  /* border: 5px solid red; */
}

nav>*{
  color: white;
  font-size: 0.7rem;
}

.slick-slider{
  margin: 0 auto;
  width: 65vw;
}

/* Skill Page Media Queries */

.skill_details{
  display: flex;
  flex-direction: column;
}

.skill_details>*{
  height: auto;
}

.cards_set{
  display: grid;
  grid-template-columns: 1fr 1fr;
  flex-wrap: wrap;
}

.cards_component{
  width: 40vw;
}

.not-found{
  /* border: 2px solid red; */
  width: 100%;
}

.not-found>p{
  font-size: 1rem;
}

.link_hai .overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.form-heading{
  margin: 4rem 0;
  margin-top: 1rem;
  font-size: 2rem;
}

.domains{
  margin: 3rem;
}

.search_bar{
  position: absolute;
  top:64%;
  left: 25%;
}





}







